In [ ]:
import psycopg

In [2]:
message = """ 
select * 
from language;
"""
print(message)

select *
from language;

In [ ]:
conn = psycopg.connect('dbname=dvdrental user=postgres password=db1234')
cur = conn.cursor()
cur.execute(message)
rows = cur.fetchall()

In [14]:
col_name = [col.name for col in cur.description]
print(col_name)
for row in rows:
    print(f'{row[0]:2d} | {row[1]} | {row[2]}')

['language_id', 'name', 'last_update']
 1 | English              | 2006-02-15 10:02:19
 2 | Italian              | 2006-02-15 10:02:19
 3 | Japanese             | 2006-02-15 10:02:19
 5 | French               | 2006-02-15 10:02:19
 6 | German               | 2006-02-15 10:02:19
 4 | Chinese              | 2025-12-22 16:03:41.414371
10 | Korea                | None

In [15]:
# insert into language (name) values ('Klingon');

In [16]:
cur.execute("insert into language (name) values ('Klingon');")
conn.commit()

In [ ]:
language_list = ['Hindi', 'Tamil', 'Telugu', 'Marathi', 'Bengali']
sql_message = [f"('{language}')" for language in language_list]
print(", ".join(sql_message))
cur.execute(f"insert into language (name) values {', '.join(sql_message)};")
conn.commit()

In [26]:
for language in language_list:
    cur.execute(f"delete from language where name = '{language}';")
conn.commit()

In [27]:
cur.execute("update language set name = 'Korean' where name = 'Korea';")
conn.commit()

In [29]:
import datetime
cur.execute(f"update language set last_update = '{datetime.datetime.now()}' where name = 'German';")
conn.commit()